<div id="header" class="header">
    <link rel="stylesheet" href="/css/header.css" />
    
    <a href="/">
        <div class="header-element big">
            <img class="header-image" src="/text_logo_dark.svg">
        </div>
    </a>

    <a href="/dash/guilds">
        <div class="header-element">
            Guilds
        </div>
    </a>

    <div class="stretch"></div>

    <a href="/user/profile">
        <div class="header-element">
            <%= data.username %>
        </div>
    </a>
</div>

<script src="/js/header.js"></script>