<div id="header" class="header">
    <link rel="stylesheet" href="/css/header.css" />
    
    <a href="/">
        <div class="header-element big">
            <img class="header-image" src="/text_logo_dark.svg">
        </div>
    </a>

    <a href="/dash/guilds">
        <div class="header-element">
            Guilds
        </div>
    </a>
    <% if(typeof guild != 'undefined'){ %>
        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
            <path fill="currentColor" d="M7 21L14.9 3H17L9.1 21H7Z" />
        </svg>

        <a href="/dash/guild/<% guild.id %>">
            <div class="header-element">
                <%= guild.name %>
            </div>
        </a>
    <% } %>

    <div class="stretch"></div>

    <a href="/user/profile">
        <div class="header-element">
            <%= data.username %>
        </div>
    </a>
</div>

<script src="/js/header.js"></script>