<div id="header" class="header">
    <link rel="stylesheet" href="/css/header.css" />
    <a href="/">
        <div class="header-element big">
            <img class="header-image" src="/text_logo_dark.svg">
        </div>
    </a>
</div>

<script src="/js/header.js"></script>