<div id="header" class="header">
    <link rel="stylesheet" href="/css/header.css" />
    <div class="header-element big">
        <img class="header-image" src="/text_logo_dark.svg">
    </div>
    <div onclick="window.scrollTo(0, 0);" class="header-element">
        Home
    </div>
    <div onclick="document.querySelector('#section-invite').scrollIntoView();" class="header-element">
        Invite
    </div>
    <div onclick="document.querySelector('#section-premium').scrollIntoView();"class="header-element">
        Premium
    </div>

    <div class="stretch"></div>

    <a href="/auth/login">
        <div class="header-element">
            Login
        </div>
    </a>
</div>

<script src="/js/header.js"></script>