<div id="section-home" class="home-hero centered">
    <section class="centered v">
        <a href="https://discord.com/api/oauth2/authorize?response_type=code&scope=identify%20guilds&client_id=<%= client_id %>&redirect_uri=<%= redirect_uri %>">
            <div class="bigbutton centered">
                Log in with Discord
            </div>
        </a>
    </section>
</div>