<div id="section-home" class="home-hero centered">
    <section class="centered v">
        <a href="<%= link %>">
            <div class="bigbutton centered">
                Log in with Discord
            </div>
        </a>
    </section>
</div>