<div id="section-home" class="home-hero centered">
    <section class="centered v">
        <h3><%= title %></h3>
        <h5><%= description %></h5><br><br>
        <a href="/">
            <div class="bigbutton centered">
                Return to homepage
            </div>
        </a>
    </section>
</div>