<div id="section-home" class="home-hero start centered">
    <section class="centered v">
        <img class="hero-logo" src="/rhodium_dark.svg"><br><br>
        <h3>The all-purpose discord bot</h3>
    </section>
</div>

<div id="section-invite" class="home-hero centered v">
    <h3>Choose your edition</h3><br><br>
    <section class="centered" style="width: 60%;flex-wrap: wrap;">
        <a target="_blank" href="https://discordapp.com/oauth2/authorize?client_id=455392659096207370&scope=bot">
            <div class="wrapper-choosing centered v">
                <img class="choosing-image" src="/img/editions/stable.svg"><br>
                <h5>Stable</h5>
                <span class="footnote">Recommended</span>
            </div>
        </a>
        <a target="_blank" href="https://discordapp.com/oauth2/authorize?client_id=519395137655144474&scope=bot">
            <div class="wrapper-choosing centered v">
                <img class="choosing-image" src="/img/editions/pilot.svg"><br>
                <h5>Pilot</h5>
                <span class="footnote">Public Beta</span>
            </div>
        </a>
        <a target="_blank" href="https://discordapp.com/oauth2/authorize?client_id=509033479108034560&scope=bot">
            <div class="wrapper-choosing centered v">
                <img class="choosing-image" src="/img/editions/developer.svg"><br>
                <h5>Developer</h5>
                <span class="footnote">Intended for live testing only.</span>
            </div>
        </a>
        <a target="_blank" href="https://discord.gg/q7E96vq">
            <div class="wrapper-choosing centered v">
                <img class="choosing-image" src="/img/editions/server.svg"><br>
                <h5>Support</h5>
                <span class="footnote">Support guild</span>
            </div>
        </a>
    </section>
</div>

<div id="section-premium" class="home-hero centered v">
    <h3>Premium will come soon!</h3>
    Stay tuned :)
</div>